body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: gray;
  background-color: hsl(0, 0%, 90%);
  /* 
    background-image: url("./assets/Stellar-Background.svg");
     */
  color: #000;
  color: hsl(0, 0%, 15%);
  font-family: "Libre Franklin", sans-serif;
}
h1 {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
}
p {
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
}

.actions {
  display: flex;
  justify-content: center;
}
.actions button {
  font-size: 1.4rem;
  padding: 8px 16px;
  border-radius: 10px;
  background-color: black;
  background-color: #000;
  background-color: hsl(0, 0%, 15%);
  color: white;
}

.thank-you-message {
  font-family: "Petit Formal Script", cursive;
}
.manual-text {
  font-weight: 200;
  font-size: 1.2rem;
}

.grid-container {
  /*     background-color: blue;
 */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  gap: 12px;
  padding: 12px;
  /* center a div .... */
  justify-content: center;
  align-items: center;
  align-content: center;
  max-width: 700px;
  margin: 0 auto;
  /* /center */
  perspective: 1000px; /* enables 3D look */
}

/* card box */
.card {
  position: relative;
  width: 100%;
  padding-top: 161px; /* aspect ratio: height based on width */
  cursor: pointer;
  transform-style: preserve-3d;
}

.card .front,
.card .back {
  position: absolute;
  inset: 0;
  border-radius: 10px;
  backface-visibility: hidden;
  transition: transform 0.5s ease;
}

/* what you see initially */
.card .back {
  background: white;
  background: hsl(0, 0%, 90%);
  background-image: url("./assets/Stellar-Background.svg");
  background-position: center;
  transform: rotateY(0deg);
}

/* front is hidden initially */
.card .front {
  background: #000000;
  background: hsl(0, 0%, 15%);
  display: grid;
  place-items: center;
  transform: rotateY(180deg);
}

.card .front img {
  max-width: 80%;
  max-height: 80%;
}

/* when flipped, rotate both faces */
.card.flipped .back {
  transform: rotateY(180deg);
}
.card.flipped .front {
  transform: rotateY(0deg);
}
